<div class="min-h-screen">
    <div class="collapse bg-base-200 rounded-b-none">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium flex justify-between items-center">
            <h1 class="text-xl font-bold roboto">Geschichte: {{tagalongstory.name === 'string' ? 'Drücken Sie auf die Pfeilen um einen Name zu vergeben' : tagalongstory.name}}</h1>
            <button class="btn btn-ghost font-extrabold">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5 7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
                </svg>
            </button>
        </div>
        <div class="collapse-content">
            <input [value]="tagalongstory.name === 'string' ? '' : tagalongstory.name" type="text" placeholder="Name der GESCHICHTE"
                class="text-xl font-medium input max-w-xs mb-5" />
            <div class="flex justify-between items-center">
                <img class="rounded-box hover:shadow-2xl object-cover w-[50%] h-96 transition-all duration-300"
                [src]="tagalongstory.storyIcon === 'string' ? 'https://fakeimg.pl/600x400?text=Bild+Hochladen' : 'data:image/png;base64,'+tagalongstory.storyIcon" />
                <div class="w-[50%] flex justify-center items-center">
                    <div class="text-center">
                        <p class="lg:text-xl sm:text-sm  md:font-extrabold mb-2">NEUE DECKFOTO HOCHLADEN</p>
                        <div class="flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-12 h-12 transform ">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
                            </svg>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>


    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>Reihe</th>
                    <th>Sprachausgabe</th>
                    <th>Bewegung</th>
                    <th>Dauer(sec)</th>
                    <th>Bild hochladen</th>
                </tr>
            </thead>
            <tbody>
                <!-- row 1 -->
                <tr *ngFor="let step of steps; let i = index">
                    <th>
                        <input value="{{step.index}}" type="number" placeholder="Reihe Nr." class="input w-20 max-w-xs" min="1"/>
                    </th>
                    <td>
                        <textarea [value]="step.text" class="textarea textarea-bordered" placeholder="GESCHICHTE" ></textarea>
                    </td>
                    <td>
                        <select class="select select-bordered w-full max-w-xs">
                            <option selected>{{ step.moveNameAndDuration }}</option>
                            <ng-container *ngFor="let move of moves; let i = index">
                              <option *ngIf="move !== step.moveNameAndDuration" [value]="move">{{ moveNames[i] }}</option>
                            </ng-container>
                        </select>
                          
                    </td>
                    <td>
                        <select class="select select-bordered w-full max-w-xs">
                            <option selected>{{ step.duration }}</option>
                            <ng-container *ngFor="let time of duration">
                              <option *ngIf="time !== step.duration" [value]="time">{{ time }}</option>
                            </ng-container>
                        </select>
                          
                    </td>
                    <td>
                        <img [src]="step.image ? 'data:image/png;base64,' + step.image : 'https://fakeimg.pl/600x400?text=Bild+Hochladen'" alt="Step Image" class="w-32 rounded-box">
                    </td>
                    <td>
                        <button class="btn btn-error">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                              </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        
    </div>
    <div class="w-full">
        <button (click)="addStep()" class="btn btn-primary font-extrabold w-full rounded-none">
            HINZUFÜGEN
          </button>
        <div class="bg-base-200 p-5 flex justify-around">
            <button class="btn btn-primary font-extrabold w-[25%]">
                SPREICHERN  
            </button>
    
            <button class="btn btn-error w-[25%]"><a href="/tagalongstory" class="text-white">ABBRECHEN</a></button>
        </div>
    </div>
</div>

