<div class="flex w-screen h-screen flex-col lg:flex-row">
    <!-- First Card with Link -->
    <a href="/tagalongstory" class="w-full lg:w-1/2 h-full flex-grow block border-solid hover:border-8 border-green-500 rounded-3xl transition-all duration-200">
        <div class="card bg-base-300 grid h-full w-full place-items-center relative overflow-hidden ">
            <h1 class="z-10 text-white text-2xl font-bold tracking-wide">MIT-MACH-GESCHICHTEN</h1>
            <img src="../assets/images/TagAlong.jpg" alt="PEPPER TagAlongStory Image" class="brightness-90 hover:brightness-75 w-full h-full object-cover absolute hover:rounded-none ">
        </div>
    </a>

    <!-- Divider -->
    <div class="divider lg:divider-horizontal">OR</div>

    <!-- Second Card with Link -->
    <a href="/memory" class="w-full lg:w-1/2 h-full flex-grow block border-solid hover:border-8 border-sky-500 rounded-3xl transition-all duration-200">
        <div class="card bg-base-300 rounded-box grid h-full w-full place-items-center relative overflow-hidden">
            <h1 class="z-10 text-white text-2xl font-bold tracking-wide">MEMORY</h1>
            <img src="../assets/images/Memory.jpg" alt="PEPPER Memory Image" class="brightness-90 hover:brightness-75 w-full h-full rounded-xl object-cover absolute">
        </div>
    </a>
</div>

<div class="btm-nav">
    <a routerLink="/" class="active">
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
      </button>
    </a>
</div>
