.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Zentriert den Inhalt vertikal */
}

.button-container {
  border: 2px solid #3498db; /* Rahmen um den Container */
  padding: 20px;
  max-width: 600px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Styling für den "Zurück"-Button */
a button {
  background-color: #f26556; /* Hintergrundfarbe ändern */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px; /* Anpassung der Polsterung */
  font-size: 15px; /* Schriftgröße anpassen */
  text-transform: uppercase; /* Text in Großbuchstaben anzeigen */
  transition: background-color 0.3s; /* Hinzufügen einer sanften Hervorhebung bei Hover */
}

a button:hover {
  background-color: #c0392b; /* Hintergrundfarbe ändern, wenn der Button schwebt */
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; /* Mehr Abstand zwischen den Buttons */
}

.move-button {
  flex: 1; /* Alle Buttons gleich groß machen */
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 100%; /* Sorgt dafür, dass die Buttons die gesamte Breite der Spalte einnehmen */
}

.move-button:hover {
  background-color: #2980b9;
}
