.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 40px 1fr 150px 40px;
  grid-gap: 10px;
}

.line {
  display: flex; /* Verwenden Sie Flexbox */
  align-items: center; /* Zentrieren Sie die Elemente vertikal */
  margin-bottom: 20px;
}

.editStory {
  margin-right: 25px;
}

.storyName {
  flex: 1;
}

.deleteStory {
  margin-left: 25px;
}


.input {
  margin: 20px 0; /* Adjust margin as needed, setting right margin to 0 */
}

.label {
  display: block;
  margin-bottom: 8px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}






.right {
  text-align: right;
}

.center {
  text-align: center;
}

.mat-icon-button-custom {
  color: #fff;
}

.mat-fab-button-custom {
  background-color: #ff69b4;
  border: 2px solid #ff69b4;
  border-radius: 50%;
}

.mat-fab-button-custom:hover {
  background-color: #ff4886;
  border: 2px solid #ff4886;
}

.mat-mini-fab-button-custom-edit {
  background-color: rgb(119, 220, 254);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mat-icon-button-custom-edit {
  color: #fff;
}

.newDance {
  background-color: rgb(119, 220, 254);
  color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
}

.newDance:hover {
  background-color: skyblue;
}
