<div class="page-container" [formGroup]="form">
  <form class="input" >
    <div class="input-wrapper" >
      <h2 class="titelpadding">Titel der Geschichte</h2>
      <div class="input-field">
        <input id="filter" formControlName="name" type="text" placeholder="Story name">
      </div>

      <td style="text-align: center;">
        <div style="position: relative;">

          <input type="file" (change)="onFileSelected($event)" style="display: none" #fileUpload>

          <button class="image-button" [disabled]="!form.get('image')?.value" (click)="fileUpload.click()">
            <img class="uploaded-image-titel" [hidden]="!form.get('image')?.value" [src]="form.get('image')?.value" alt="uploaded image">
          </button>

          <button class="upload-button-titel" (click)="fileUpload.click()" [hidden]="form.get('image')?.value !== ''">Titelbild</button>

        </div>
      </td>


      <div class="cancel">
        <button> <a routerLink="/story-selection">Abbrechen </a></button>
      </div>

      <!-- <div class="add-button-container"> -->
        <!--  <a routerLink="/story-selection"> </a>-->
       <button class="add-button"  [disabled]="!saveEnabled" (click)="save()">Hinzufügen</button>
      <!-- </div> -->
     </div>
  </form>

<ng-container>
  <div class="table-container">
    <div class="table">
      <div class="table-row table-header">
        <div class="table-cell text-header">Sprachausgabe</div>
        <div class="table-cell bewegung-header">Bewegung</div>
        <div class="table-cell dauer-header">Dauer(sec)</div>
        <div class="table-cell drag-header">Bild hochladen</div>
      </div>



      <!-- Zeilen durch ngFor erstellen -->
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div  *ngFor="let row of rows.controls; let i = index" cdkDrag>
        <div [formGroup]="row"  class="table-row">


          <div class="button-container">
            <button *ngIf="i > 0" (click)="up(i)">↑</button>
            <button *ngIf="i < rows.controls.length - 1" (click)="down(i)">↓</button>
          </div>


          <div class="table-cell" >
            <div class="textarea" style="margin-right: 60px;">
              <textarea rows="8" cols="20" class="large-textarea" placeholder="Geben Sie den Text der Geschichte ein" formControlName="text"></textarea>
            </div>
          </div>


          <div class="table-cell" style="margin-right: 70px;">
            <select formControlName="move">
              <option *ngFor="let move of moves; let i = index" [value]="move">{{ moveNames[i] }}</option>
            </select>
            <!--
            <a routerLink="/add-move" class="router-link-button"><button class="addMove">+</button></a>
            -->
          </div>

          <!--
          <div class="table-cell" style="margin-right: 70px;">
            <select formControlName="move">
              <option *ngFor="let move of moves" value="{{move}}">{{ move }}</option>
            </select>

            //<a routerLink="/add-move" class="router-link-button"><button class="addMove">+</button></a>

          </div>
          -->

          <div class="table-cell" style="margin-right: 70px;">
            <select formControlName="duration">
              <option *ngFor="let time of duration" value="{{time}}">{{ time }}</option>
            </select>
          </div>

          <div class="table-cell" style="width: 200px;">
            <td>
              <input type="file" (change)="onRowFileSelected($event, i)" style="display:none" #fileRowUpload>

              <button class="image-button" [disabled]="!row.get('image')?.value" (click)="fileRowUpload.click()">
                <img class="uploaded-image" [hidden]="row.get('image')?.value == ''" [src]="row.get('image')?.value">
              </button>

              <button class="upload-button" (click)="fileRowUpload.click()" [hidden]="row.get('image')?.value !== ''">Bild hochladen</button>
            </td>
          </div>


          <div class="deleteStory">
            <button mat-fab color="primary" class="mat-fab-button-custom" aria-label="Delete" (click)="removeRow(i)">
              <mat-icon class="mat-icon-button-custom">delete</mat-icon>
            </button>
          </div>
      </div>
      </div>
    </div>

    <!--[disabled]="!addNewRowEnabled"-->
    <div class="example-button-container">
      <button [disabled]="!addNewRowEnabled" class="example-button" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addRow()">
        <mat-icon>plus_one</mat-icon>
      </button>

    </div>
    </div>
  </div>
</ng-container>
