.button-container {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Center the container horizontally */
  height: 140px; /* Set a default height for the container */
  justify-content: center;
}

.button-container button {
  padding: 8px 8px;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: rgb(119, 220, 254);
  border: none;
  border-radius: 5px;
  color: white;
}




body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Stil für den Button und das Bild */
.image-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.upload-button-titel {
  background-color: rgb(119, 220, 254);
  color: white;
  padding: 10px 20px; /* Padding anpassen */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Schriftgröße anpassen */
  margin-right: 60px;
}

.upload-button{
  width: 100%; /* Breite des select-Elements (100% des verfÃ¼gbaren Platzes) */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px; /* SchriftgrÃ¶Ãe anpassen */
  background-color: rgb(119, 220, 254);
}


/* Falls gewünscht, füge hier weitere Stile für den Button hinzu, um das Aussehen anzupassen */


.page-container {
  display: grid;
  grid-template-columns: 1fr; /* Einzelne Spalte */
  grid-gap: 20px; /* Abstand zwischen Elementen */
  padding: 20px;
  max-width: 100%; /* Maximal mögliche Seitengröße */
}


.delete-img {
  padding: 8px 12px; /* Du kannst die Werte nach Bedarf anpassen */
  font-size: 12px; /* Du kannst die Schriftgröße nach Bedarf anpassen */
  font-weight: bold;
  color: #fff;
  background-color: #d9534f; /* Hintergrundfarbe anpassen */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 100px;
}

.uploaded-image-titel {
  width: 150px;
  height: 100px;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 5px;
  align-items:flex-start;
  margin-right: 30px;
}

.uploaded-image {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 5px;
  align-items:flex-start;
}



.delete-img:hover {
  background-color: #c9302c; /* Hintergrundfarbe im Hover-Zustand anpassen */
}


.back-button {
  background-color: rgb(119, 220, 254);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-move-button {
  background-color: lightgreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input{
  display: flex;
}

.input-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  margin-bottom: 30px; /* Erhöhe den Abstand zwischen input-wrapper und Titelbild */
}
.input-wrapper h2 {
  margin: 0;
}

.input-field {
  flex: 1; /* Nutze den verfügbaren Platz */
  margin-right: 20px; /* Abstand zwischen Titel-Eingabefeld und Titelbild erhöhen */
  margin-left: 10px;
}

.input-field input {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.titelbild {
  width: 140px;
  height: 100px;
  padding: 10px; /* Abstand innerhalb des Titelbild-Containers */
  margin: 0;
  text-align: center;
}

.cancel {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.cancel button {
  background-color: rgb(255, 46, 46);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.cancel button a {
  text-decoration: none;
  color: inherit;
}

.cancel button:hover {
  background-color: darkred;
}

.add-button-container {
  flex: 1;
  margin-top: 5px;
  text-align: right;
}

.add-button {
  background-color: rgb(75, 240, 75);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}

.add-button:hover {
  background-color: limegreen;
}

.add-button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.add-button:disabled:hover {
  background-color: #ccc;
}



.table-container {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
}

.table-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}



.large-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.example-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.example-button {
  background-color: rgb(119, 220, 254);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.example-button:hover {
  background-color: deepskyblue;
}

.example-button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.example-button:disabled:hover {
  background-color: #ccc;
}



.addMove {
  background-color: rgb(119, 220, 254);
  color: white; /* Textfarbe */
  width: 150px; /* Breite des Buttons */
  height: 150px; /* HÃ¶he des Buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100px; /* SchriftgrÃ¶Ãe des Buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.addMove:hover {
  background-color: #0099cc; /* Dunkleres Blau bei Hover */
}


.custom-dropzone {
  width: 220px; /* Breite der Drag and Drop-FlÃ¤che */
  height: 150px; /* HÃ¶he der Drag and Drop-FlÃ¤che */
  border: 1px dashed #ccc; /* Gestrichelter Rand zur Anzeige der FlÃ¤che */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-left: 50px;
}



/* CSS-Stile fÃ¼r das select-Element */
.table-cell select {
  width: 100%; /* Breite des select-Elements (100% des verfÃ¼gbaren Platzes) */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px; /* SchriftgrÃ¶Ãe anpassen */
  background-color: rgb(119, 220, 254);
  color: white; /* Textfarbe */
  cursor: pointer;
}

/* Stil fÃ¼r die Optionen innerhalb des select-Elements */
.table-cell select option {
  background-color: white; /* Hintergrundfarbe fÃ¼r Optionen */
  color: black; /* Textfarbe fÃ¼r Optionen */
}

/* Stil fÃ¼r das select-Element bei Hover */
.table-cell select:hover {
  background-color: #0099cc; /* Dunkleres Blau bei Hover */
}

/* CSS-Stile fÃ¼r die SpalteneintrÃ¤ge */
.table-cell {
  text-align: center; /* Textausrichtung der EintrÃ¤ge zentrieren */
  padding: 10px;

}



.table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table-header {
  font-size: 20px;
  font-weight: bold;
  background-color: lightgray;
  color: black;
}




/* CSS-Stile fÃ¼r die einzelnen SpaltenÃ¼berschriften */
.text-header {
  font-weight: bold; /* Fetter Text fÃ¼r die Text-Ãberschrift */
  text-align: center; /* Textausrichtung zentrieren */
  margin-left: 50px;
  margin-right: 20px;
}

.bewegung-header {
  font-weight: bold; /* Fetter Text fÃ¼r die Bewegung-Ãberschrift */
  text-align: center; /* Textausrichtung zentrieren */
  margin-right: 15px;
}

.dauer-header {
  font-weight: bold; /* Fetter Text fÃ¼r die Dauer-Ãberschrift */
  text-align: center; /* Textausrichtung zentrieren */
}

.drag-header {
  font-weight: bold; /* Fetter Text fÃ¼r die Drag and Drop Bild-Ãberschrift */
  text-align: center; /* Textausrichtung zentrieren */
  margin-right:80px;
}



//Trash-Button:
/* Passen Sie die Farbe des Mat-Icons an */
.mat-icon-button-custom {
  color: #fff; /* Ihre gewÃ¼nschte Farbe */
}

/* Stil fÃ¼r den Button-Element */
.mat-fab-button-custom {
  background-color: #ff69b4; /* Hintergrundfarbe des Buttons */
  border: 2px solid #ff69b4; /* Randfarbe des Buttons */
  border-radius: 50%; /* Runde Form */
}

.deleteStory {
  margin-top: 10px; /* Verringern Sie den oberen Abstand zwischen der custom-dropzone und dem Delete Story-Button */
}


.router-link-button {
  text-decoration: none;
  color: inherit;
}

.flex_column1{
  flex: 1;
}
.flex_column2{
  flex: 1;
}
