<h1 class="text-3xl font-bold text-center tracking-widest">MIT-MACH-GESCHICHTEN</h1>
<div class="flex w-full h-screen flex-col items-center mt-10">
  <label class="input input-bordered flex items-center gap-2 lg:w-[35%]">
    <input type="text" class="grow" placeholder="Suche" [(ngModel)]="searchTerm" (input)="filterStories()" />
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
      <path fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd" />
    </svg>
  </label>

  <div *ngFor="let story of filteredStories; let i = index" role="alert"
    class="alert mt-5 lg:w-[75%] flex items-center gap-4">
    <a routerLink="/createstory/{{story.id}}" class="px-3 hover:scale-125">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
      </svg>
    </a>

    <span>{{story.name}}</span>

    <!-- Aligning the Toggle and Button -->
    <div class="flex items-center gap-2 ml-auto">
      <label class="cursor-pointer">
        <input type="checkbox" class="toggle toggle-primary" [checked]="story.isEnabled !== 'true'" />
      </label>
      <button (click)="deleteStory(story.id)" class="btn btn-sm btn-error">Löschen</button>
    </div>
  </div>


</div>




<div class="btm-nav">

  <button class="active">
    <a href="/createstory">
      ERSTELLE EINE GESCHICHTE
    </a>
  </button>
</div>